<div class="container-fluid router-content">
    <div class="row h-100 flex-column"> 
        <nav class="row">
            <div class="col">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Home</li>
            </ol>
            </div>
        </nav>

      <div class="col d-flex justify-content-center align-items-center flex-grow-1 ">
        <div class="home-page text-center">
            <h1 class="home-title">Welcome to Alerna Call Center</h1>
        </div>
      </div>
    </div>
</div>