<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="custom-logo" viewBox="0 0 100 100">
      <style type="text/css">
          .circle-bg { fill: #143278; } /* Dark blue background */
          .symbol-fill { fill: #FFFFFF; } /* White for the main letter */
      </style>
      <!-- Circle Background -->
      <circle class="circle-bg" cx="50" cy="50" r="48"/>
      <!-- Stylized Letter A -->
      <path class="symbol-fill" d="M50,20 L35,75 H40 L45,60 H55 L60,75 H65 L50,20 Z M47,55 L53,55 L50,45 Z"/>
  </symbol>
</svg>
  
<nav class="navbar bg-light sgbl-navbar fixed-top">
    <div class="vw-100 d-flex justify-content-between">
      <!-- Toggle Button to open the offcanvas sidebar -->

      @if(isLoggedIn())
      {
        <button class="navbar-toggler" type="button" (click)="open(sidebarContent)">
          <fa-icon [icon]="faBars"></fa-icon>
        </button>

        <div class="dropdown" ngbDropdown>
          <a class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" ngbDropdownToggle>
            <svg class="rounded-circle" width="40" height="40">
              <use xlink:href="#custom-logo"></use>
            </svg>
          </a>
          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
          </ul>
        </div>
      }
    </div>
  </nav>
  
  <!-- Offcanvas Sidebar Template -->
  <ng-template #sidebarContent>
    <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark h-100">
      <!-- Sidebar Header -->
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32">
          <use xlink:href="#custom-logo"></use>
        </svg>
        <span class="fs-4">Task Manager</span>
      </a>
      <hr>
  
      <!-- Sidebar Navigation Links -->
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link text-white sgbl-nav-link">
            <i class="bi bi-house-fill"></i>
            Home
          </a>
        </li>
      </ul>
    </div>
  </ng-template>